<a routerLink="../services" routerLinkActive="active">Services</a><br>
<h1>Favourite Movies (Collections):</h1>
<app-content-list-item
  *ngFor="let item of (contentService.getContent() | filterIContent: 'favourite');"
  [contentItem]="item"></app-content-list-item>
<app-content-list-item
  *ngFor="let item of (contentService.getContent() | filterIContent: 'interesting');"
  [contentItem]="item"></app-content-list-item>
<app-content-list-item
  *ngFor="let item of (contentService.getContent() | filterIContent);"
  [contentItem]="item"></app-content-list-item>
