<main>
  <h1>Joshua Thompson</h1>
  <h2>0750015</h2>
  <h3><em>In regards to the <span [innerHtml]="title"></span> project,</em></h3>
  <p>
    I recently graduated from Computer Programming at Algonquin College,<br>
    and have returned to my former program (MAD) at St. Clair College to<br>
    complete my final year.
  </p>
  <p>
    My favourite food is Sushi, then Shawarma. My favourite musician is Neil<br>
    Diamond, then Bob Dylan. My favourite colour is blue, then white. My<br>
    favourite drink is the Iced Cap, then Iced Coffee. My favourite language<br>
    is Hebrew, then German. My favourite animal is the Panda, then Koala.<br>
  </p>
  <p>
    I hope to work at the local nuclear facility, CNL, in the future. My plan is<br>
    to apply with several credentials to make an impression with them, as it is<br>
    a heavily academic environment.<br>
  </p>
  <h2><strong>This is my first angular project</strong></h2>
</main>
