main {
  /* Ensure background covers screen */
  width: 100%;
  height: 500%;
  position: absolute;
  left: 0;
  top: 0;

  /* Centre content */
  text-align: center;

  /* Set the webpage colour */
  background-color: deepskyblue;
}

h1 {
  margin-top: 50px;
}
